
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');


#contenido{
    display: flex;
    flex-direction: column;
    align-items: center;    
}
header{
    align-self: flex-start;
    text-align: left;
}
#buscador{
    padding: 15px;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    width: 70%;
    border-top: 4px solid #bc0f0f;
    background-color: rgb(255 118 126 / 66%);
    flex-direction: column;
}
#resultados{
    padding: 15px;
    display: flex;
    margin-top: 20px;
    justify-content: space-evenly;
    width: 70%;
    background-color: rgb(255 118 126 / 66%);
    flex-direction: column;
}
.lista-resultados{
    padding: 0px;
}
.lista-resultados li{
    background-color: rgb(255 161 85 / 60%);
    padding:15px;
    padding-bottom: 0px;
    margin-bottom: 15px;
}   
.lista-resultados li a{
    display: flex;
    flex-wrap: wrap;
}
.lista-resultados li a span{
    border-radius: 50%;
    width: 50px;
    height: 50px;
}
h2{
    font-size: 18px;
}
h3{
    margin-left: 3vh;
    font-family: 'Bebas Neue'
}
.barra>input{
    height: 40px;
    width: 79%;
}
.barra>button{
    height: 40px;
    width:20%;
}

p{
    margin-top: 5px;
    font-size: 15px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   
}

span.barbarian-icon{
    background-image: url(../img/clases-iconos/barbarian.jpg);
    background-size: cover;
}
span.bardo-icon{
    background-image: url(../img/clases-iconos/bardo.jpg);
    background-size: cover;
}
