*{
    box-sizing: border-box;
}
body{
    font-size: 14px;
}

.ideintifica {
    text-align: center;
}
#problema{
    width: 70vh;
}
.email {
    text-align: center;
}
#correo{
    width: 70vh;
}
.asuntos {
    text-align: center;
}
#asunto{
    width: 70vh;
}
.decription {
    text-align: center;
}
#descripcion {
    width: 70vh;
}
.registro{
    background-image: url("../img/imagen-principal-borde/background-contacto-iniciosesion.png");
    max-width: 623px;
    max-height: 680px;
    width: 100%;
    height: 100vh;
    padding: 39px;
    margin-right: 0;
}
#contacto{
    background: rgba(207,207,207,1);
    width: 100%;
    height: 100vh;
    max-height: 600px;
}
h3{
    padding-top: 3vh;
    margin-top: 0px;
    padding-left: 1vh;
    font-family: Montserrat;
    margin-bottom: 10px;
}
h4{
    margin-top: 4vh;
    padding-left: 4vh;
    font-family: Montserrat;
    margin-bottom: 15px;
}

input{
    height: 30px;
    background: #F1F1F1;
    border: 0;
}
#descripcion{
    border: 0;
    width: 500px;
    height: 115px;
    text-align:start;
}
.enviar{
    margin-top: 3vh;
    height: 30px;
    border: 0;
    width: 70vh;
    background: rgba(133,133,133,1);
    font-size: 14px;
}